<main>
  <div class ="container">
    <div class ="row">
  <tbody>
   <div class="col-sm">
   <a>ジャンル検索</a>
    <% @genres.each do |genre| %>
     <tr>
      <% if genre_id = true %>
       <td>
        <%= link_to genre.name, items_path(genre_id: genre.id), class: "text-secondary" %>
      </td>                    <%# products_pathに引数としてcategory_idを渡す %>
     <% end %>
    </tr>
  <% end %>
 </tbody>
 </div>
  <div class="col-sm">
   <div class="bg_top">
 <div class="card" style="max-width: 400px;">
   <a class="card-img"><%= image_tag('25310211_s.jpg', :size =>'605x235') %></a>
  <div class="card-img-overlay" style = "margin_right: 30px;">
    <p class="text-white" >ようこそ、ながのCAKEへ！</br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    会員でない方も商品の閲覧はできますが、</br>
    購入には会員登録が必要です。
    </p>
  </div>
</div>
</div>
</div>
<div class ="row">
 <h2>新着商品</h2>
 <% @items.each do |item| %>
 <table>
<tbody>
<tr>
 <td>
 <%= link_to item_path(item) do %>
  <%= image_tag item.get_image(150,150) %>
  <% end %>
  </td>
  </tr>
  <tr>
  <td>
    <%= item.name %>
     </td>
     </tr>
     <tr>
     <td>
     <a>¥<%= item.price %></a>
      </td>
      </tr>
    <% end %>
</tbody>
</table>
</div>

<div class ="row">
 <div class="col-xs-9"></div>
  	  <div class="col-xs-2">
<%= link_to "全ての商品を見る>", items_path %>
  </div>
  </div>
</div>
</div>
<%= yield %>
</main>

