<main>
  <div class ="container">
    <div class ="row">
   <div class="col-sm">
    <div class="d-flex align-items-center justify-content-center">
    <span class="border border-dark">
   <a>ジャンル検索</a>
    <% @genres.each do |genre| %>
      <% if genre_id = true %>
        <%= link_to genre.name, items_path(genre_id: genre.id), class: "text-secondary" %>
     <% end %>
  <% end %>
  </span>
 </tbody>
 </div>
 </div>
  <div class="col-sm">
   <div class="bg_top">
 <div class="card" style="max-width: 400px;">
   <a class="card-img"><%= image_tag('25310211_s.jpg', :size =>'605x235') %></a>
  <div class="card-img-overlay">
 <div class="d-flex align-items-center justify-content-center" style= "padding-left: 130px;">
  <h5 class>
    ようこそ、ながのCAKEへ！</br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    会員でない方も商品の閲覧はできますが、</br>
    購入には会員登録が必要です。</br>
   </h5>
    </div>
  </div>
</div>
</div>
</div>
<div class ="row">
 <h2>新着商品</h2>
 <% @items.each do |item| %>
 <table>
<tbody>
<tr>
 <td>
 <%= link_to item_path(item) do %>
  <%= image_tag item.get_image(150,150) %>
  <% end %>
  </td>
  </tr>
  <tr>
  <td>
    <%= item.name %>
     </td>
     </tr>
     <tr>
     <td>
     <a>¥<%= item.price %></a>
      </td>
      </tr>
    <% end %>
</tbody>
</table>
</div>
  <%= link_to "全ての商品を見る", items_path %>
  </div>
</div>
<%= yield %>
</main>

