<h1>配送先編集</h1>

<%= form_with model: @address, url: public_address_path do |f| %>
    <label for="inputPostal_Code">郵便番号(ハイフンなし)</label>
    <%= f.text_field :postal_code, autofocus: true, id:"inputPostal_Code", placeholder:"Postal_code"%>
    <br/>

    <label for="inputAddress">住所</label>
    <%= f.text_field :address, autofocus: true, id:"inputAddress", placeholder:"Address"%>
    <br/>

    <label for="inputName">宛名</label>
    <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name"%>
    <br/>

  <%= f.submit '変更内容を保存', class: "btn btn-success" %>
  <% end %>