<h1>ショッピングカート</h1>
<li>
<%= link_to "新規登録",new_admin_item_path ,class: "btn btn-sm btn-success" %>
</li>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>商品名</th>
       <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
        </tr>
      </thead>
    <tbody>
 <% @cart_items.each do |cart_item| %>
　<tr>
    <td>
    　<a><%= image_tag cart_item.item.get_image(50,50) %><%= cart_item.item.name %></a>
    　</td>
    　   <td>
          <%= cart_item.item.with_tax_price %>
        　 </td>
            <td>
              <%= form_with model: @cart_items, url: cart_items_path do |f| %>
                <%= f.select :amount, *[1..5], {include_blank: cart_item.amount}, class: 'sample' %>
                  <%= f.submit '変更', class: "btn btn-success" %>
                    <% end %>
                  <%#= .select :amount, *[1..5], {include_blank: cart_item.amount}, class: 'sample' %>
                </td>
               <td>
              <%= cart_item.subtotal %>
            </td>
          <td>
        <%= cart_item.item.show_status %>
      </td>
      <td>
      <%= @total += cart_item.subtotal %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>

