<h1>ショッピングカート</h1>
<li>
<%= link_to "新規登録",new_admin_item_path ,class: "btn btn-sm btn-success" %>
</li>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>商品名</th>
       </th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
        </tr>
      </thead>
    <tbody>
 <% @cart_items.each do |cart_item| %>
　<tr>
    　<td>
    　   <%= cart_item.item_id %>
    　    </td>
    　     <td>
            <%= cart_item.item.with_tax_price %>
        　     </td>
              <td>
              <%= f.select :amount, *[1..5], {include_blank: cart_item.amount}, class: 'sample' %>
            </td>
           <td>
          <%= cart_item.subtotal %>
        </td>
        <td>
        <%= item.show_status %>
        </td>
        <%= @total += cart_item.subtotal %>
      </tr>
    <% end %>
</tbody>
</table>