<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>商品名</th>
       <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
        </tr>
      </thead>
    <tbody>
 <% @cart_items.each do |cart_item| %>
　<tr>
    <td>
    　<%= image_tag cart_item.item.get_image(50,50) %>
    　<%= cart_item.item.name %>
    　</td>
    　   <td>
          <%= cart_item.item.with_tax_price %>
        　 </td>
            <td>
             <%= cart_item.amount %>
              </td>
               <td>
              <%= cart_item.subtotal %>
            </td>
          <td><% @total += cart_item.subtotal %></td>
      </tr>
      <tr>
  <% end %>
</tbody>
</table>
</br>
      <tr>
       <p>
        <strong>送料</strong>
         <td><%= @order.shipping_fee = 800 %></td>
          </p>
          </tr>
           <tr>
            <p>
             <strong>商品合計</strong>
              <td><%= @total  %></td>
              </p>
              </tr>
              <tr>
            <p>
             <strong>請求金額</strong>
             <td><% @order.bill= @total + @order.shipping_fee %></td>
            <td><%= @order.bill %></td>
            </p>
          </tr>
</br>
</br>
<tr>
 <p>
  <strong>支払方法 </strong>
  <td><%= @order.payment_method_i18n%></td>
 </p>
</tr>
<tr>
  <p>
   <strong>お届け先 </strong>
 <td>〒<%= @order.postal_code %></td>
 <td><%= @order.address %></td>
 </br>
 <td><%= @order.name %></td>
 </p>
</tr>

<%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
   <%= f.hidden_field :customer_id %>
   <%= f.hidden_field :postal_code %>
   <%= f.hidden_field :address %>
   <%= f.hidden_field :name %>
   <%= f.hidden_field :payment_method %>
   <%= f.hidden_field :shipping_fee %>
   <%= f.hidden_field :bill %>
   <%= f.hidden_field :status %>
  <%= f.submit "注文を確定する", class: "btn btn-success" %>
 <% end %>