<div class="container">
  <div class="row my-3">
    <div class="col-sm-1 px-sm-0 offset-sm-3">
<h4 class="bg-secondary">ログイン</h4>
</div>
</div>

<div class="row">
  <div class="col-sm-6 px-sm-0 offset-sm-3">
<h3>会員済みの方はこちらからログイン</h3>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in",class:"btn btn-primary px-4 mt-3 mb-5"%>
  </div>
<% end %>

<h3>会員登録がお済みでない方はこちらから</h3>
<p><%= link_to "こちら", new_customer_registration_path%>から新規登録を行ってください</p>
</div>