<h2>
  商品一覧（全<%= @items.where('created_at > id').count %>件)
  <% if genre_id = true %>
  <%= @genres.name%>一覧（全<%= @items.where('created_at > id').count %>件)
  <% end %>
</h2>

<table class="table table-hover table-inverse">
<tbody>
  <a>ジャンル検索</a>
  <% @genres.each do |genre| %>
    <tr>
      <% if genre_id = true %>
      <td>
        <%= link_to genre.name, items_path(genre_id: genre.id), class: "text-secondary" %>
      </td>                    <%# products_pathに引数としてcategory_idを渡す %>
      <% end %>
    </tr>
    <% end %>
 <% @items.each do |item| %>
<tr>
    <td>
    <%= link_to item_path(item) do %>
      <%= image_tag item.get_image(100,100) %>
      <% end %>
    </td>
    <td>
      <%= item.name %>
      </td>
      <td>
      <a>¥<%= item.price %></a>
      </td>
      </tr>
    <% end %>
</tbody>
</table>