<table class="table">
    <thead>
    <tbody>
    <a>ジャンル検索</a>
      <% @genres.each do |genre| %>
    <tr>
      <% if genre_id = true %>
      <td>
        <%= link_to genre.name, items_path(genre_id: genre.id), class: "text-secondary" %>
      </td>                    <%# products_pathに引数としてcategory_idを渡す %>
      <% end %>
    </tr>
    <% end %>
      <tr>
        <td>
          <%= image_tag @item.get_image(100,100) %>
        </td>
         <td>
         <%= @item.name %>
        </td>
       <td>
      <%= @item.introduction %>
    </td>
  <td>
<a>¥<%= @item.price %>(税込)</a>
</td>
</tr>
</tbody>
</table>

<%= form_with model: @cart_item, url: cart_items_path do |f| %>
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.select :amount, *[1..20], {include_blank: '個数を選択'}, class: 'sample' %>
   <%= f.submit 'カートに入れる', class: "btn btn-success" %>
  <% end %>