<table class="table">
    <thead>
    <tbody>
      <tr>
        <td>
          <%= image_tag @item.get_image(100,100) %>
        </td>
         <td>
         <%= @item.name %>
        </td>
       <td>
      <%= @item.introduction %>
    </td>
  <td>
<a>¥<%= @item.price %>(税込)</a>
</td>
</tr>
</tbody>
</table>
<li>
  <%= link_to "カートに入れる", cart_items_path %>
</li>