<table class="table">
    <thead>
    <tbody>
      <tr>
        <td>
          <%= image_tag @item.get_image(100,100) %>
        </td>
         <td>
         <%= @item.name %>
        </td>
       <td>
      <%= @item.introduction %>
    </td>    
  <td>
<a>¥<%= @item.price %>(税込)</a>
</td>
</tr>
</tbody>
</table>

<%= form_with model: @item, url: admin_items_path do |f| %>
 <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
  <%= link_to "カートに入れる", cart_items_path %>
</li>