<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
     <title>NaganoCake</title>
      <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_pack_tag 'application', media: 'all' %>
 <%= javascript_pack_tag 'application' %>
</head>
<body>
 <header>
  <div class="d-flex bd-highlight">
   <div class= "p-2 flex-grow-1 bd-highlight">
    <a class="navbar-brand p-3"href="/">
     <%= image_tag('nagano_cake - MarkMaker Logo.png', :size =>'125x150') %>
      </a>
      </div>
      <div class = "p-2 bd-highlight">
       <ul class = "flex">
        <% if customer_signed_in? %>
         <li class="nav-item" style = "list-style: none;">
        <%= link_to "マイページ", public_customers_path %>
       <%= link_to "商品一覧",items_path %>
      <%= link_to "カート",cart_items_path %>
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
   </li>
<li class = "welcome" style= "list-style:none;">
 ようこそ、<%= current_customer.first_name %>さん！
  </li>
   <li class = "search" style= "padding: 50px; list-style: none;">
  <input name="search" placeholder="search🔍">
</li>
<% elsif admin_signed_in? %>
 <li class="nav-item" style = "list-style: none;">
  <%= link_to "商品一覧", admin_items_path %>
    <%= link_to "会員一覧", admin_customers_path %>
     <%= link_to "注文履歴一覧", admin_root_path %>
    <%= link_to "ジャンル一覧", admin_genres_path %>
 <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
</li>
   <li class = "search" style= "padding: 50px; list-style: none;">
  <input name="search" placeholder="search🔍">
</li>
   <% else %>
    <li class="nav-item" style = "list-style: none;">
     <%= link_to "About",public_about_path %>
      <%= link_to "商品一覧",items_path %>
       <%= link_to "新規登録", new_customer_registration_path %>
       <%= link_to "ログイン", new_customer_session_path %>
     </li>
   <li class = "search" style= "padding: 50px; list-style: none;">
  <input name="search" placeholder="search🔍">
</li>
<% end %>
  </ul>
  </div>
    </header>
     <main>
      <%= yield %>
     </main>
    </div>
   </body>
</html>












